body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #DDD;
}

.navbar {
  display: flex;
  justify-content: left;
  background-color: #333;
  padding: 8px 40px;
}

.navbar a {
  color: #ddd;
  padding: 16px 24px;
  text-decoration: none;
  text-align: center;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin: 16px 0;
}

.content {
  padding: 36px;
  background-color: #DDD;
}

.player-info {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px 24px 24px;
}

.audio-player {
  padding: 0 24px;
}

.audio-player audio {
  width: 100%;
}

.controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 0 24px;
}

.song-selector, .category-selector, .autoplay-toggle, .song-randomizer {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  background-color: #DDD;
}

input, button, select, div {
  font-size: 24px;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#idInput, select {
  background-color: #DDD;
  border: 1px solid #000; /* example border */
}

input, select, button {
  background-color: #B4B4B4; /* Light background for inputs and buttons */
  color: #333; /* Dark text color for contrast */
  border: 1px solid #AAA; /* Subtle border */
  border-radius: 4px;
}

/* Style for input fields */
input:hover, select:hover, button:hover {
  background-color: #A8A8A8; /* Slightly darker background on hover */
  border-color: #888; /* Darker border on hover */
}

/* Adjustments for the toggle switch */
.toggle .slider {
  background-color: #ccc; /* Default background */
}

.toggle .slider:hover {
  background-color: #B0B0B0; /* Darker background on hover */
}


.toggle {
  --width: 176px;
  --height: 48px;
  top:5px;
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  border-radius: 4px;
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #aaa;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked+.slider {
  background-color: #2196F3;
}

.toggle input:checked+.slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 10px;
  top: 5px;
  color: #4d4d4d;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 10px;
  top: 5px;
  color: #ddd;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
  opacity: 0;
}

.toggle input:checked~.labels::before {
  opacity: 1;
}